{% extends "base.html" %}

{% block title_block %} Extract {% endblock %}

{% block content %}
<div class="progress">
  <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="15" aria-valuemin="0" aria-valuemax="100"></div>
</div>
<div class="row">
<div class="col-md">
  <h2>
    New Query
  </h2>
  <form method="post">
    <div class="form-group">
      <label for="query">Type your query here (internet connection required):</label>
      <textarea class="form-control" rows="10" name="query"></textarea>
      <button type="submit" class="btn btn-primary mb-2">Submit query</button>
    </div>
</form>
<h2>
  Filter existing data
</h2>
<div class="form-group">
  <label for="filter">Filter here: </label>
  <textarea class="form-control" rows="10" name="filter"></textarea>
  <button type="submit" class="btn btn-primary mb-2">Filter</button>
</div>
</div>
<div class="col-md p-3">
  <h6>Maybe put selector GUI here?</h6>
  <!-- <img src="{{url_for('static', filename='images/map.jpg')}}" alt="Temporary map image. Maybe put selector GUI here?"/> -->
</div>
</div>
<button class="btn btn-warning" style="position: fixed; bottom: 30px; right: 30px; width: 200px"><h3>Next</h3></button>

{% endblock %}